[package]
name = "twi-ssd1306"
version = "0.1.0"
authors = [
   "James Waples <james@wapl.es>",
   "Ruben Paz <me@ruben.io>",
]
edition = "2018"
publish = false

[dependencies]
cortex-m-rt = "0.6.12"
ssd1306 = "0.2.6"
embedded-graphics = "0.4.7"
panic-semihosting = "0.5.3"

[dependencies.embedded-hal]
features = ["unproven"]
version = "0.2"

[dependencies.nrf52832-hal]
path = "../../nrf52832-hal"
optional = true

[dependencies.nrf52840-hal]
path = "../../nrf52840-hal"
optional = true

[features]
52832 = ["nrf52832-hal"]
52840 = ["nrf52840-hal"]
default = ["52832"]
