[package]
name = "nvmc-demo"
version = "0.1.0"
authors = ["Christopher Hunt"]
edition = "2018"
publish = false

[dependencies]
cortex-m = { version = "0.7.3", features = ["critical-section-single-core"] }
cortex-m-rt = "0.7.0"
embedded-storage = "0.3.0"
rtt-target = "0.5.0"
panic-probe = { version = "0.3.0", features = ["print-rtt"] }

[dependencies.nrf52840-hal]
features = ["rt"]
path = "../../nrf52840-hal"
optional = true

[features]
52840 = ["nrf52840-hal"]
