[package]
name = "pwm-demo"
version = "0.1.0"
authors = ["Henrik AlseÌr"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cortex-m = "0.7.3"
cortex-m-rt = { version = "0.6.14", features = ["device"] }
cortex-m-rtic = { version = "0.5.8", features = ["cortex-m-7"], default-features = false }
rtt-target = {version = "0.2.0", features = ["cortex-m"] }

[dependencies.embedded-hal]
version = "0.2.3"
features = ["unproven"]

[dependencies.nrf52840-hal]
features = ["rt"]
path = "../../nrf52840-hal"
optional = true

[features]
52840 = ["nrf52840-hal"]
